[tool.ruff]
target-version = "py312"
line-length = 100
src = ["src/apps/api", "src/apps/ocr-worker"]

[tool.ruff.lint]
select = [
  "E",
  "F",
  "W",
  "I",
  "B",
  "UP"
]
ignore = ["E203", "E501"]

[tool.ruff.lint.isort]
combine-as-imports = true
known-first-party = ["api", "ocr"]
